arabic-reshaper==2.1.1
cachelib==0.1.1
cairocffi==1.2.0
CairoSVG==2.5.1
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
click==7.1.2
cssselect2==0.4.1
defusedxml==0.6.0
dnspython==2.0.0
email-validator==1.1.1
Flask==1.1.2
Flask-Session==0.3.2
Flask-WTF==0.14.3
future==0.18.2
gunicorn==20.0.4
html2pdf==0.1
html5lib==1.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Pillow==8.1.0
pisa==3.0.33
pycparser==2.20
PyPDF2==1.26.0
Pyphen==0.10.0
python-bidi==0.4.2
python-dateutil==2.8.1
python-dotenv==0.15.0
python-http-client==3.3.1
redis==3.5.3
reportlab==3.5.59
requests==2.24.0
sendgrid==6.4.8
six==1.15.0
starkbank-ecdsa==1.1.0
tinycss2==1.1.0
urllib3==1.25.10
WeasyPrint==52.2
webencodings==0.5.1
Werkzeug==1.0.1
wkhtmltopdf==0.2
WTForms==2.3.3
xhtml2pdf==0.2.5
