{% extends "layout.html" %}
{% block content %}

<form method="POST" action="/scan_order" id="scan_order">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <div class="jumbotron">
          <legend class="border-bottom mb-4">Scan Order:</legend>
          <p>Scandit</p>
            <div class="form-group">
              <head>
              <meta charset="UTF-8">
              <title>Scandit Web SDK</title>

              <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>

              <!-- Add the library, as explained on http://docs.scandit.com/stable/web/index.html -->
              <script src="https://cdn.jsdelivr.net/npm/scandit-sdk@4.x"></script>
            </head>
            <form action="/scandit" method="post">

            <div class="scanner">
              <body onclick="console.log('body clicked')">
                  <div id="scandit-barcode-picker"></div>
                  <div id="input-container">
                      <input id="scan-input" name='scan-input' type="text" placeholder="Scan Barcode">

                      <button id="btnFetch" class="btn btn-outline-info mb-2" type="submit">Zoek</button>
                    </div>

                    <script type="text/javascript">
                      $(document).ready(function() {
                        $("#btnFetch").click(function() {
                          // disable button
                          $(this).prop("disabled", true);
                          // add spinner to button
                          $(this).html(
                            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> w8 ff..`
                          );
                          $( "#scan_order" ).submit();
                        });
                    });
                    </script>

                  <script>
                      document.addEventListener("DOMContentLoaded", function() {
                        scan();
                        });
                      function scan() {
                          startScanning();
                      }
                      function showScanner() {
                          scannerContainer.style.opacity = "1";
                          scannerContainer.style.zIndex = "1";
                      }
                      function hideScanner() {
                          scannerContainer.style.opacity = "0";
                          scannerContainer.style.zIndex = "-1";
                      }
                      function startScanning() {
                          showScanner();
                          if (picker) {
                              picker.resumeScanning();
                          }
                      }
                      function stopScanning() {
                          hideScanner();
                          if (picker) {
                              picker.pauseScanning();
                          }
                      }
                      // Configure the library and activate it with a license key
                      const licenseKey = "Aawvdi2yMj90EhR+kwn8qaAi8GllP2X6Ny/AjqQqcrCCIScn3UNnQgRh32WJXtsn6WbGrxx3J/AoKHkLjmXzbB9AKRBLYW1LGGsMwjFXXe2fX4U40kW3KVA5X+DFMWhDVyfXp4MSs08YLgkI5AJ8yfJ+rMogVhISjrOZQVhHXcpCuT0oQb49yAlz1gLeDex/VV+DuGhrcS85ErbfJRwWcEarA37xgPhcGsttKmjVhp6Nhy89AP2knLDR3H35xFVAJcvuuI3OxZzMDOYzHLE5BjOWSFfb9fe+fUIUkl1A+TpbcsxxkdtiWKQPqS/4tbIHQmwISFGnJvF5kHya80fQ92rIDnV4pZG4oYxrtcyre0tMnQiWoJUDo/RYt1gMc9whLx0x3H9isIyVNhnMXHB1lt3t+pfeaMLnhtboM7xingGlbEH6CESaCyPXTMeBMfBsMbgZLzJdlKzjD29RXntFKjhaS+kfkcL+ZO+IOOAWmO3liZa81avW4+FUB6b+BJ35rZgTwaY1Ti4TxM77y6J8x4oV94gIUx3BytxH5NoBCIQBNLNfsUIum4Gfw0rDj70+Wo41+4f02DvxHNlMGaiTy3uXZ12Vb5TUe7956LfBHsafUKuHEEvnZkPV9gTisdqzPMS7LjtQAhyrItAqjI7emJH+cqp0PvEb+psZ7BKgFvklxV+O7Mps0/zLejAT9D2+8Kj2tcTWKWuCMTRJd5gF25i0tCZAGlC0Hj2DYj2OCWrOoL8geDN5+/ysFHbzSgr5AGs7R8JfwNv9+BOPTHjup7cbVFbFETyix8EeL8wEXKDyJ5FRQ8E77VAnjjFo";
                      // Configure the engine location, as explained on http://docs.scandit.com/stable/web/index.html
                      const engineLocation = "https://cdn.jsdelivr.net/npm/scandit-sdk@4.x/build"
                      ScanditSDK.configure(licenseKey, { engineLocation: engineLocation });
                      const scannerContainer = document.getElementById("scandit-barcode-picker");
                      scannerContainer.style.opacity = "0";
                      scannerContainer.style.zIndex = "-1";
                      const scanInput = document.getElementById("scan-input");
                      let picker;
                      // Create & start the picker
                      ScanditSDK.BarcodePicker.create(scannerContainer)
                          .then(barcodePicker => {
                              picker = barcodePicker;
                              // Create the settings object to be applied to the scanner
                              const scanSettings = new ScanditSDK.ScanSettings({
                                  enabledSymbologies: ["ean8", "ean13", "upca", "upce", "code128", "code39"]
                              });
                              picker.applyScanSettings(scanSettings);
                              picker.on("scan", scanResult => {
                                  stopScanning();
                                  scanInput.value = scanResult.barcodes[0].data;
                              });
                              picker.on("scanError", error => alert(error.message));
                              picker.resumeScanning();
                          })
                          .catch(alert);
                  </script>
                </body>
            </div>
                <style>#scan:after {display:none;}</style>

            </div>
        </div>
    </fieldset>
</form>

{% endblock content %}
