{% extends "layout.html" %}
{% block content %}
<form method="POST" action="/zxing">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <div class="jumbotron">
          <legend class="border-bottom mb-4">Scan Order (TEST!!!):</legend>
            <div class="form-group">
              <body>

                <main class="wrapper" style="padding-top:1em">

                  <section class="container" id="demo-content">


                    <div>
                      <a class="btn btn-outline-info mb-2" id="startButton">Start</a>
                      <a class="btn btn-outline-info mb-2" id="resetButton">Reset</a>
                    </div>

                    <div>
                      <video id="video" width="300" height="200" style="border: 1px solid gray"></video>
                    </div>

                    <div id="sourceSelectPanel" style="display:none">
                      <label for="sourceSelect">Selecteer camera:</label>
                      <select id="sourceSelect" style="max-width:400px">
                      </select>
                    </div>

                    <label><h6>Barcode:</h6></label>
                    <input id="zxing-input" name="zxing-input" type="text" placeholder="Scan Barcode">
                    <input class="btn btn-outline-info" type="submit" value="Zoek">


                  </section>



                </main>

                <script type="text/javascript" src="https://unpkg.com/@zxing/library@latest"></script>
                <script type="text/javascript">
                  window.addEventListener('load', function () {
                    let selectedDeviceId;
                    const codeReader = new ZXing.BrowserMultiFormatReader()
                    console.log('ZXing code reader initialized')
                    codeReader.listVideoInputDevices()
                      .then((videoInputDevices) => {
                        const sourceSelect = document.getElementById('sourceSelect')
                        selectedDeviceId = videoInputDevices[0].deviceId
                        if (videoInputDevices.length >= 1) {
                          videoInputDevices.forEach((element) => {
                            const sourceOption = document.createElement('option')
                            sourceOption.text = element.label
                            sourceOption.value = element.deviceId
                            sourceSelect.appendChild(sourceOption)
                          })

                          sourceSelect.onchange = () => {
                            selectedDeviceId = sourceSelect.value;
                          };

                          const sourceSelectPanel = document.getElementById('sourceSelectPanel')
                          sourceSelectPanel.style.display = 'block'
                        }
                        const test = document.getElementById("zxing-input");
                        document.getElementById('startButton').addEventListener('click', () => {
                          codeReader.decodeFromVideoDevice(selectedDeviceId, 'video', (result, err) => {
                            if (result) {
                              console.log(result)

                              test.value = result.text
                            }
                            if (err && !(err instanceof ZXing.NotFoundException)) {
                              console.error(err)
                              document.getElementById('zxing-input').textContent = err
                            }
                          })
                          console.log(`Started continous decode from camera with id ${selectedDeviceId}`)
                        })

                        document.getElementById('resetButton').addEventListener('click', () => {
                          codeReader.reset()
                          document.getElementById('zxing-input').textContent = '';
                          console.log('Reset.')
                        })

                      })
                      .catch((err) => {
                        console.error(err)
                      })
                  })
                </script>
            </div>
    </fieldset>
</form>
{% endblock content %}
